// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// ============= Navbar Desing ===============
header {
  input {
    outline: none;
    border: 3px solid green;
    box-shadow: none;
    @apply rounded-md;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// =========== Footer Design ==================
footer {
  margin-top: auto;
  font-weight: 300;
  .footer_support {
    border: 1px solid rgba(207, 202, 202, 0.856);
    &:hover {
      @apply border;
      @apply border-green-400;
      cursor: pointer;
    }
    i {
      font-size: 1.6rem;
    }
    div {
      p {
        font-size: 0.9rem;
        font-weight: 300;
      }
      h1 {
        font-weight: 400;
      }
    }
  }
  ul {
    .social_icon {
      font-size: 1.6rem;
      i {
        &:hover {
          cursor: pointer;
        }
      }
    }
    li {
      margin-bottom: 0.8rem;
      cursor: pointer;
      &:hover {
        @apply text-green-500;
        transition: 0.2s linear;
      }
    }
  }
}

// ============= Login page ===============
#login {
  min-height: 90vh;
}

// ============ userInfo ================
.userInfo {
  font-weight: 300;
  i {
    color: rgb(113, 113, 113);
  }
}
